#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  margin-right: 10px;
}

.sort {
  display: inline-block;
  width: 20px;
  background-color: skyblue;
  margin: 2px
}

button {
  margin-left: 5px;
}

input {
  margin-bottom: 10px;
}